@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonte global */
html {
  font-family: theme("fontFamily.sans");
  scroll-behavior: smooth;
  background-color: theme("colors.background");
  color: theme("colors.foreground");
}

/* Scrollbar moderna (opcional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

